.table-pagination-container {
    margin: 40px;
  }
  
  .table-pagination-selectors {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .table-pagination-label {
    margin-right: 10px;
  }
  
  .table-pagination-select {
    padding: 5px;
  }
  
  .table-pagination-table {
    width: 100%;
  }
  
  .table-pagination-table th {
    background-color: #339af0;
    color: white;
  }
  
  .table-pagination-table td,
  .table-pagination-table th {
    padding: 10px;
  }
  
  .table-pagination-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px
  }  